@charset "URF=8";
body {
    background-image: linear-gradient(to right, #100000, #442622)
}
div>p {
    display: none;
    color: #C5A19B;
}

div:hover >p{
    display: block;
    color: #f7f7f7;
    background-color: #8d635d;
     width: 80px;
}

body > h1 {
   min-width: 300px;
   max-width: 1000px;
   margin: auto;
   text-align:ncenter;
 }
 
div {
    color: #442622;
}

h1 {
    color: #442622;
    text-align: center;
    text-shadow: 1px 1px 2px #c5a19ba8;
    width: 600px;
    
}
a {
    color: #C5A19B;
    text-shadow: 1px 1px 2px #c5a19b94;
}
p {
    text-align: justify;
}